* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media (max-width: 800px) {
  .contenedor-headercontacto {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .contenedor-headercontacto .logo-ES-grid {
    justify-self: center;
  }
  .contenedor-headercontacto .navbar-contacto {
    justify-self: center;
  }
  .contenedor-headercontacto .navbar-contacto li {
    justify-self: center;
  }
}
@media (max-width: 800px) {
  .main {
    background-color: #ffffff;
  }
  .main .contenido-principal h1 {
    font-size: 25px;
  }
  .main .box-ultimostrabajos {
    grid-template-areas: "card-cuerpo card-cuerpo2" "card-cuerpo3 card-cuerpo3";
  }
  .main .box-ultimostrabajos .card-cuerpo, .main main .box-ultimostrabajos .card-cuerpo3, main .main .box-ultimostrabajos .card-cuerpo3, .main main .box-ultimostrabajos .card-cuerpo2, main .main .box-ultimostrabajos .card-cuerpo2 {
    grid-area: card-cuerpo;
    justify-self: center;
  }
  .main .box-ultimostrabajos .card-cuerpo2 {
    grid-area: card-cuerpo;
    justify-self: center;
  }
  .main .box-ultimostrabajos .card-cuerpo3 {
    grid-area: card-cuerpo;
    justify-self: center;
  }
}
@media (max-width: 800px) {
  .logos-clientes {
    grid-template-areas: "imgTerramar imgCPS" "imgDestino imgScotia";
  }
  .imgTerramar {
    grid-area: imgTerramar;
    justify-self: center;
  }
  .imgCPS {
    grid-area: imgCPS;
    justify-self: center;
  }
  .imgDestino {
    grid-area: imgDestino;
    justify-self: center;
  }
  .imgScotia {
    grid-area: imgScotia;
    justify-self: center;
  }
}
@media (max-width: 800px) {
  .contenedor-productos {
    grid-template-areas: "producto-1 producto-2" "producto-3 producto-3" "boton-vermas boton-vermas";
  }
  .producto-1, .box-productos .contenedor-productos .producto-3, .box-productos .contenedor-productos .producto-2 {
    grid-area: producto-1;
    justify-self: center;
  }
  .producto-2 {
    grid-area: producto-2;
    justify-self: center;
  }
  .producto-3 {
    grid-area: producto-3;
    justify-self: center;
  }
  .boton-vermas {
    grid-area: boton-vermas;
    justify-self: center;
  }
}
@media (max-width: 800px) {
  .contenedor-productos {
    grid-template-areas: "producto-1 producto-2" "producto-3 producto-3" "boton-vermas boton-vermas";
  }
  .producto-1, .box-productos .contenedor-productos .producto-3, .box-productos .contenedor-productos .producto-2 {
    grid-area: producto-1;
    justify-self: center;
  }
  .producto-2 {
    grid-area: producto-2;
    justify-self: center;
  }
  .producto-3 {
    grid-area: producto-3;
    justify-self: center;
  }
  .boton-vermas {
    grid-area: boton-vermas;
    justify-self: center;
  }
}
@media (max-width: 800px) {
  .box-referencias {
    grid-template-areas: "card-referencia1 card-referencia2" "card-referencia3 card-referencia3";
  }
  .card-referencia1, .section-referencias .box-referencias .card-referencia3, .section-referencias .box-referencias .card-referencia2 {
    grid-area: card-referencia1;
    justify-self: center;
  }
  .card-referencia2 {
    grid-area: card-referencia2;
    justify-self: center;
  }
  .card-referencia3 {
    grid-area: card-referencia3;
    justify-self: center;
  }
}
@media (max-width: 800px) {
  .footer-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F5EFE6;
    font-size: 1rem;
    width: 100%;
    align-items: center;
  }
}
@media (max-width: 800px) {
  .footer {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "piedepagina logo-piepagina" "pie-pagina2 pie-pagina3";
  }
  .pie-pagina p, .piepagina-contacto .pie.pagina3 p p, .piepagina-contacto .pie-pagina2 p p {
    font-family: "Labrada", serif;
    font-size: 25;
    font-style: italic;
    text-align: justify;
    padding-top: 25px;
  }
}
.pie-pagina2 p {
  font-family: "Labrada", serif;
  font-size: 25;
  font-style: italic;
  text-align: justify;
  padding-top: 25px;
}

.pie-pagina3 p {
  font-family: "Labrada", serif;
  font-size: 25;
  font-style: italic;
  text-align: justify;
}

.contenedor-headercontacto {
  padding-bottom: 10px;
  background-color: #F5EFE6;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contenedor-headercontacto .logo-ES-grid {
  display: flex;
  justify-content: left;
  height: 55px;
}

/* navbar**/
.navbar-contacto {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  justify-self: center;
  align-self: center;
  list-style: none;
  padding-top: 19px;
}
.navbar-contacto li a {
  text-decoration: none;
  font-size: 15px;
  color: rgb(2, 2, 2);
}

@media (max-width: 800px) {
  .contenedor-headercontacto {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .contenedor-headercontacto .logo-ES-grid {
    justify-self: center;
  }
  .contenedor-headercontacto .navbar-contacto {
    justify-self: center;
  }
  .contenedor-headercontacto .navbar-contacto li {
    justify-self: center;
  }
}
@media (max-width: 800px) {
  .main {
    background-color: #ffffff;
  }
  .main .contenido-principal h1 {
    font-size: 25px;
  }
  .main .box-ultimostrabajos {
    grid-template-areas: "card-cuerpo card-cuerpo2" "card-cuerpo3 card-cuerpo3";
  }
  .main .box-ultimostrabajos .card-cuerpo, .main main .box-ultimostrabajos .card-cuerpo3, main .main .box-ultimostrabajos .card-cuerpo3, .main main .box-ultimostrabajos .card-cuerpo2, main .main .box-ultimostrabajos .card-cuerpo2 {
    grid-area: card-cuerpo;
    justify-self: center;
  }
  .main .box-ultimostrabajos .card-cuerpo2 {
    grid-area: card-cuerpo;
    justify-self: center;
  }
  .main .box-ultimostrabajos .card-cuerpo3 {
    grid-area: card-cuerpo;
    justify-self: center;
  }
}
@media (max-width: 800px) {
  .logos-clientes {
    grid-template-areas: "imgTerramar imgCPS" "imgDestino imgScotia";
  }
  .imgTerramar {
    grid-area: imgTerramar;
    justify-self: center;
  }
  .imgCPS {
    grid-area: imgCPS;
    justify-self: center;
  }
  .imgDestino {
    grid-area: imgDestino;
    justify-self: center;
  }
  .imgScotia {
    grid-area: imgScotia;
    justify-self: center;
  }
}
@media (max-width: 800px) {
  .contenedor-productos {
    grid-template-areas: "producto-1 producto-2" "producto-3 producto-3" "boton-vermas boton-vermas";
  }
  .producto-1, .box-productos .contenedor-productos .producto-3, .box-productos .contenedor-productos .producto-2 {
    grid-area: producto-1;
    justify-self: center;
  }
  .producto-2 {
    grid-area: producto-2;
    justify-self: center;
  }
  .producto-3 {
    grid-area: producto-3;
    justify-self: center;
  }
  .boton-vermas {
    grid-area: boton-vermas;
    justify-self: center;
  }
}
@media (max-width: 800px) {
  .contenedor-productos {
    grid-template-areas: "producto-1 producto-2" "producto-3 producto-3" "boton-vermas boton-vermas";
  }
  .producto-1, .box-productos .contenedor-productos .producto-3, .box-productos .contenedor-productos .producto-2 {
    grid-area: producto-1;
    justify-self: center;
  }
  .producto-2 {
    grid-area: producto-2;
    justify-self: center;
  }
  .producto-3 {
    grid-area: producto-3;
    justify-self: center;
  }
  .boton-vermas {
    grid-area: boton-vermas;
    justify-self: center;
  }
}
@media (max-width: 800px) {
  .box-referencias {
    grid-template-areas: "card-referencia1 card-referencia2" "card-referencia3 card-referencia3";
  }
  .card-referencia1, .section-referencias .box-referencias .card-referencia3, .section-referencias .box-referencias .card-referencia2 {
    grid-area: card-referencia1;
    justify-self: center;
  }
  .card-referencia2 {
    grid-area: card-referencia2;
    justify-self: center;
  }
  .card-referencia3 {
    grid-area: card-referencia3;
    justify-self: center;
  }
}
@media (max-width: 800px) {
  .footer-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F5EFE6;
    font-size: 1rem;
    width: 100%;
    align-items: center;
  }
}
@media (max-width: 800px) {
  .footer {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "piedepagina logo-piepagina" "pie-pagina2 pie-pagina3";
  }
  .pie-pagina p, .piepagina-contacto .pie.pagina3 p p, .piepagina-contacto .pie-pagina2 p p {
    font-family: "Labrada", serif;
    font-size: 25;
    font-style: italic;
    text-align: justify;
    padding-top: 25px;
  }
}
.pie-pagina2 p {
  font-family: "Labrada", serif;
  font-size: 25;
  font-style: italic;
  text-align: justify;
  padding-top: 25px;
}

.pie-pagina3 p {
  font-family: "Labrada", serif;
  font-size: 25;
  font-style: italic;
  text-align: justify;
}

main {
  background-color: #ffffff;
}
main .contenido-principal h1 {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  padding-top: 20px;
}
main .box-ultimostrabajos {
  display: grid;
  width: 100%;
  grid-template-areas: "card-cuerpo card-cuerpo2 card-cuerpo3";
  gap: 3rem;
  padding-top: 15px;
  padding-bottom: 30px;
  justify-content: center;
}
main .box-ultimostrabajos .card-cuerpo, main .box-ultimostrabajos .card-cuerpo3, main .box-ultimostrabajos .card-cuerpo2 {
  width: 300px;
  height: 400px;
  padding: 5px;
  background-color: #F5EFE6;
  border-style: groove;
  margin-left: 1rem;
  border-radius: 20px;
}
main .box-ultimostrabajos .card-cuerpo img, main .box-ultimostrabajos .card-cuerpo3 img, main .box-ultimostrabajos .card-cuerpo2 img {
  object-fit: contain;
  padding: 2rem;
  margin: 0 auto;
  display: block;
  justify-content: center;
}
main .box-ultimostrabajos .card-cuerpo p, main .box-ultimostrabajos .card-cuerpo3 p, main .box-ultimostrabajos .card-cuerpo2 p {
  font-family: "Labrada", serif;
  font-size: 50;
  font-style: italic;
  text-align: center;
}
.section-clientes {
  background-color: #B4CDE6;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 30px;
  align-items: center;
  justify-content: center;
}
.section-clientes div h1 {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  padding-top: 20px;
}
.section-clientes .logos-clientes {
  display: grid;
  grid-template-areas: "imgTerramar imgCPS imgDestino imgScotia";
  width: 100%;
  padding-top: 15px;
  padding-bottom: 30px;
  justify-content: center;
}
.section-clientes .logos-clientes img {
  width: 100%;
  max-height: 150px;
  padding: 2rem;
  display: flex;
  gap: 30px;
}

.box-productos {
  width: 100%;
  margin-top: 30px;
  align-items: center;
}
.box-productos .titulo-productos h1 {
  font-family: "Poppins", sans-serif;
  font-size: xx-large;
  font-weight: 400;
  text-align: center;
}
.box-productos .contenedor-productos {
  display: grid;
  grid-template-areas: "producto-1 producto-2 producto-3";
  width: 100%;
  gap: 3rem;
  padding-top: 20px;
  padding-bottom: 30px;
  justify-content: center;
  align-items: center;
}
.box-productos .contenedor-productos .producto-1 h2, .box-productos .contenedor-productos .producto-3 h2, .box-productos .contenedor-productos .producto-2 h2 {
  font-family: "Labrada", serif;
  font-size: 40;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}
.box-productos .contenedor-productos .producto-1 h3, .box-productos .contenedor-productos .producto-3 h3, .box-productos .contenedor-productos .producto-2 h3 {
  font-family: "Labrada", serif;
  font-size: 30;
  font-style: italic;
  text-align: center;
}
.box-productos .contenedor-productos .boton-vermas {
  width: 49%;
  background-color: #B4CDE6;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding: 10px;
  font-size: 1rem;
  border-radius: 41px;
  border: #F5EFE6;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section-referencias {
  background-color: #D9D9D9;
}
.section-referencias .contenido-referencias h1 {
  font-family: "Poppins", sans-serif;
  font-size: xx-large;
  font-weight: 400;
  text-align: center;
  padding-top: 20px;
}
.section-referencias .box-referencias {
  display: grid;
  width: 100%;
  grid-template-areas: "card-referencia1 card-referencia2 card-referencia3";
  gap: 3rem;
  padding-top: 15px;
  padding-bottom: 30px;
  justify-content: center;
}
.section-referencias .box-referencias .card-referencia1, .section-referencias .box-referencias .card-referencia3, .section-referencias .box-referencias .card-referencia2 {
  padding: 10px;
  margin: 5%;
  width: 300px;
  height: 400px;
  background-color: #F5EFE6;
  border-style: groove;
  margin-left: 1rem;
  border-radius: 20px;
}
.section-referencias .box-referencias .card-referencia1 h2, .section-referencias .box-referencias .card-referencia3 h2, .section-referencias .box-referencias .card-referencia2 h2 {
  font-family: "Labrada", serif;
  font-size: 40;
  font-style: normal;
  text-align: center;
}
.section-referencias .box-referencias .card-referencia1 h3, .section-referencias .box-referencias .card-referencia3 h3, .section-referencias .box-referencias .card-referencia2 h3 {
  font-family: "Labrada", serif;
  font-size: 30;
  font-style: oblique;
  text-align: center;
}
.section-referencias .box-referencias .card-referencia1 p, .section-referencias .box-referencias .card-referencia3 p, .section-referencias .box-referencias .card-referencia2 p {
  font-family: "Labrada", serif;
  font-size: 30;
  font-style: italic;
  text-align: justify;
  padding-top: 20px;
}
.section-referencias .box-referencias .card-referencia1 img, .section-referencias .box-referencias .card-referencia3 img, .section-referencias .box-referencias .card-referencia2 img {
  display: block;
  width: 30px;
  border: 50px;
  margin: 0 auto;
  padding-top: 20px;
}
.piepagina-contacto {
  background-color: #F5EFE6;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 15px;
  justify-content: space-evenly;
  justify-self: center;
  align-self: center;
}
.piepagina-contacto .pie-pagina p, .piepagina-contacto .pie.pagina3 p p, .piepagina-contacto .pie-pagina2 p p {
  font-family: "Labrada", serif;
  font-size: 25;
  font-style: italic;
  text-align: justify;
  padding-top: 25px;
}
.piepagina-contacto .logo-piepagina {
  padding: 1rem;
  justify-self: center;
}
@media (max-width: 800px) {
  .contenedor-headercontacto {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .contenedor-headercontacto .logo-ES-grid {
    justify-self: center;
  }
  .contenedor-headercontacto .navbar-contacto {
    justify-self: center;
  }
  .contenedor-headercontacto .navbar-contacto li {
    justify-self: center;
  }
}
@media (max-width: 800px) {
  .main {
    background-color: #ffffff;
  }
  .main .contenido-principal h1 {
    font-size: 25px;
  }
  .main .box-ultimostrabajos {
    grid-template-areas: "card-cuerpo card-cuerpo2" "card-cuerpo3 card-cuerpo3";
  }
  .main .box-ultimostrabajos .card-cuerpo, .main main .box-ultimostrabajos .card-cuerpo2, main .main .box-ultimostrabajos .card-cuerpo2, .main main .box-ultimostrabajos .card-cuerpo3, main .main .box-ultimostrabajos .card-cuerpo3 {
    grid-area: card-cuerpo;
    justify-self: center;
  }
  .main .box-ultimostrabajos .card-cuerpo2 {
    grid-area: card-cuerpo;
    justify-self: center;
  }
  .main .box-ultimostrabajos .card-cuerpo3 {
    grid-area: card-cuerpo;
    justify-self: center;
  }
}
@media (max-width: 800px) {
  .logos-clientes {
    grid-template-areas: "imgTerramar imgCPS" "imgDestino imgScotia";
  }
  .imgTerramar {
    grid-area: imgTerramar;
    justify-self: center;
  }
  .imgCPS {
    grid-area: imgCPS;
    justify-self: center;
  }
  .imgDestino {
    grid-area: imgDestino;
    justify-self: center;
  }
  .imgScotia {
    grid-area: imgScotia;
    justify-self: center;
  }
}
@media (max-width: 800px) {
  .contenedor-productos {
    grid-template-areas: "producto-1 producto-2" "producto-3 producto-3" "boton-vermas boton-vermas";
  }
  .producto-1, .box-productos .contenedor-productos .producto-2, .box-productos .contenedor-productos .producto-3 {
    grid-area: producto-1;
    justify-self: center;
  }
  .producto-2 {
    grid-area: producto-2;
    justify-self: center;
  }
  .producto-3 {
    grid-area: producto-3;
    justify-self: center;
  }
  .boton-vermas {
    grid-area: boton-vermas;
    justify-self: center;
  }
}
@media (max-width: 800px) {
  .contenedor-productos {
    grid-template-areas: "producto-1 producto-2" "producto-3 producto-3" "boton-vermas boton-vermas";
  }
  .producto-1, .box-productos .contenedor-productos .producto-2, .box-productos .contenedor-productos .producto-3 {
    grid-area: producto-1;
    justify-self: center;
  }
  .producto-2 {
    grid-area: producto-2;
    justify-self: center;
  }
  .producto-3 {
    grid-area: producto-3;
    justify-self: center;
  }
  .boton-vermas {
    grid-area: boton-vermas;
    justify-self: center;
  }
}
@media (max-width: 800px) {
  .box-referencias {
    grid-template-areas: "card-referencia1 card-referencia2" "card-referencia3 card-referencia3";
  }
  .card-referencia1, .section-referencias .box-referencias .card-referencia2, .section-referencias .box-referencias .card-referencia3 {
    grid-area: card-referencia1;
    justify-self: center;
  }
  .card-referencia2 {
    grid-area: card-referencia2;
    justify-self: center;
  }
  .card-referencia3 {
    grid-area: card-referencia3;
    justify-self: center;
  }
}
@media (max-width: 800px) {
  .footer-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F5EFE6;
    font-size: 1rem;
    width: 100%;
    align-items: center;
  }
}
@media (max-width: 800px) {
  .footer {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "piedepagina logo-piepagina" "pie-pagina2 pie-pagina3";
  }
  .pie-pagina p, .piepagina-contacto .pie-pagina2 p p, .piepagina-contacto .pie.pagina3 p p {
    font-family: "Labrada", serif;
    font-size: 25;
    font-style: italic;
    text-align: justify;
    padding-top: 25px;
  }
}
.pie-pagina2 p {
  font-family: "Labrada", serif;
  font-size: 25;
  font-style: italic;
  text-align: justify;
  padding-top: 25px;
}

.pie-pagina3 p {
  font-family: "Labrada", serif;
  font-size: 25;
  font-style: italic;
  text-align: justify;
}

/*# sourceMappingURL=style.css.map */
