*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*
colores
   #F5EFE6
   #FFFFFF
   #B4CDE6
   #D9D9D9
 fuentes
    font-family: 'Labrada', serif;
    font-family: 'Poppins', sans-serif;

/* inicio de estilos de header*/

header{
background-color: #F5EFE6 ;
}
.contenedor-header{
    display: flex;
    align-items: center;
   flex-direction: row;
   justify-content: space-evenly;
   
}
.logo-ES{
    height: 12REM;
    width: 12rem;
    padding-top: 50px;
}
.navbar{
    display: flex;
    list-style: none;
    column-gap: 25px;
flex-wrap: wrap;
    
}
.navbar li a{
    text-decoration: none;
    font-size: 15px;
    color: black;
}
/* inicio de main*/ 
main{
    background-color: #FFFFFF;
}
.contenido-principal h1{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    padding-top: 20px;

   
}
.card-cuerpo img{
   object-fit: contain; 
   padding: 2rem;
    margin: 0 auto;
    display: block;
    justify-content: center;
   

}
.card-cuerpo{
    width: 300px;
    height: 400px;
    padding: 5px;
    background-color: #F5EFE6;
    border-style: groove;
    margin-left: 1rem;
    border-radius: 20px;
   
}
.card-cuerpo p{
    font-family: 'Labrada', serif;
    font-size: 50;
    font-style: italic;
    text-align:center;
    
}
.card-cuerpo2 img{
    padding: 4rem;
    margin: 0 auto;
    display: block;
}
.card-cuerpo2{
    width: 300px;
    height: 400px;
    padding: 5px;
    background-color: #F5EFE6;
    border-style: groove;
    margin-left: 1rem;
    border-radius: 20px; 
   
}
.card-cuerpo2 p{
    font-family: 'Labrada', serif;
    font-size: 50;
    font-style: italic;
    text-align:center
}
.card-cuerpo3 img{
  padding: 4rem;
  margin: 0 auto;
display: block;
 
}
.card-cuerpo3{
    width: 300px;
    height: 400px;
    padding: 5px;
    background-color: #F5EFE6;
    border-style: groove;
    margin-left: 1rem;
    border-radius: 20px;  
   

}
.card-cuerpo3 p{
    font-family: 'Labrada', serif;
    font-size: 50;
    font-style: italic;
    text-align:center  
}
.box-ultimostrabajos {
    display: grid;
    width: 100%;
    /*grid-template-columns: repeat(auto-fit, minmax(300px,1fr));*/
    grid-template-areas: 
    "card-cuerpo card-cuerpo2 card-cuerpo3"
    ;
    gap: 3rem;
    padding-top: 15px;
    padding-bottom: 30px;
    justify-content: center;

}

@media (max-width: 800px) {
.box-ultimostrabajos {
grid-template-areas:
"card-cuerpo card-cuerpo2"
"card-cuerpo3 card-cuerpo3"
;
}
.card-cuerpo{
    grid-area: card-cuerpo;
    justify-self: center;
}
.card-cuerpo2 {
    grid-area: card-cuerpo2;
    justify-self:center;
}
.card-cuerpo3{
    grid-area: card-cuerpo3;
    justify-self:center;
}
}
@media (max-width: 600px) {
.box-ultimostrabajos {
    grid-template-areas: 
    "card-cuerpo"
    "card-cuerpo2"
    "card-cuerpo3";
}
}
.section-clientes{
background-color: #B4CDE6;
width: 100%;
display: flex;
flex-direction:column;
flex-wrap: wrap;
margin-top: 30px;
align-items: center;
justify-content: center;
}
.nuestros-clientes h1{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    padding-top: 20px;
}
.logos-clientes img{
    width: 80%;
    max-height: 150px;
    padding: 2rem;
    display: flex;
    gap: 30px;
}
.logos-clientes{
    display: grid;
   grid-template-areas: 
   "imgTerramar imgCPS imgDestino imgScotia";
    width: 80%;
    padding-top: 15px;
    padding-bottom: 30px;
    justify-content: center;
}
@media (max-width: 800px) {
    .logos-clientes {
    grid-template-areas:
    "imgTerramar imgCPS"
    "imgDestino imgScotia"
    ;
    }
    .imgTerramar{
        grid-area: imgTerramar;
        justify-self: center;
    }
    .imgCPS {
        grid-area: imgCPS;
        justify-self:center;
    }
    .imgDestino{
        grid-area: imgDestino;
        justify-self:center;
    }
    .imgScotia{
        grid-area: imgScotia;
        justify-self:center;
    }
    }
    @media (max-width: 600px) {
        .logos-clientes {
        grid-template-areas:
        "imgTerramar"
        "imgCPS"
        "imgDestino" 
        "imgScotia"
        ;
        }
    }
.titulo-productos h1{
    font-family: 'Poppins', sans-serif;
    font-size:xx-large;
    font-weight: 400;
    text-align: center; 
      
}
.box-productos{
    width: 100%;
    margin-top: 30px;
    align-items: center;
    
}
.contenedor-productos{
    display: grid;
   grid-template-areas: 
   "producto-1 producto-2 producto-3";
    width: 100%;
    gap: 3rem;
    padding-top: 20px;
    padding-bottom: 30px;
    justify-content: center;
    align-items: center;
}
@media (max-width: 800px) {
    .contenedor-productos {
    grid-template-areas:
    "producto-1 producto-2"
    "producto-3 producto-3"
    "boton-vermas boton-vermas"
    ;
    }
    .producto-1{
        grid-area: producto-1;
        justify-self: center;
    }
    .producto-2 {
        grid-area: producto-2;
        justify-self:center;
    }
    .producto-3{
        grid-area: producto-3;
        justify-self:center;
    }
    .boton-vermas{
        grid-area: boton-vermas;
        justify-self:center;
    }
    }
    @media (max-width: 600px) {
        .contenedor-productos {
        grid-template-areas:
        "producto-1"
        "producto-2"
        "producto-3"
        "boton-vermas" 
        ;
        }
    }
.producto-1 h2{
    font-family: 'Labrada', serif;
    font-size: 40;
    font-weight: bold;
    font-style: normal;
    text-align: center;
}
.producto-1 h3{
    font-family: 'Labrada', serif;
    font-size: 30;
    font-style: italic;
    text-align: center; 
}
.producto-2 h2{
    font-family: 'Labrada', serif;
    font-weight: bold;
    font-style: normal;
    text-align: center;
}
.producto-2 h3{
    font-family: 'Labrada', serif;
    font-size: 30;
    font-style: italic;
    text-align: center;
}
.producto-3 h2{
    font-family: 'Labrada', serif;
    font-weight: bold;
    font-style: normal;
    text-align: center; 
}
.producto-3 h3{
    font-family: 'Labrada', serif;
    font-size: 30;
    font-style: italic;
    text-align: center;
}
.boton-vermas{
    width: 49%;
    background-color: #B4CDE6;
    font-family:'Poppins', sans-serif;
    font-weight: 400;
    padding: 10px;
    font-size: 1rem;
    border-radius: 41px;
    border: #F5EFE6; 
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section-referencias{
    background-color: #D9D9D9;
}
.contenido-referencias h1{
    font-family:'Poppins', sans-serif;
    font-size:xx-large;
    font-weight:400;
    text-align:center;
    padding-top: 20px;
}
.box-referencias{
    display: grid;
    width: 100%;
    grid-template-areas: 
    "card-referencia1 card-referencia2 card-referencia3"
    ;
    gap: 3rem;
    padding-top: 15px;
    padding-bottom: 30px;
    justify-content: center;
}
@media (max-width: 800px) {
    .box-referencias {
    grid-template-areas:
    "card-referencia1 card-referencia2"
    "card-referencia3 card-referencia3"
    ;
    }
    .card-referencia1{
        grid-area: card-referencia1;
        justify-self: center;
    }
    .card-referencia2 {
        grid-area: card-referencia2;
        justify-self:center;
    }
    .card-referencia3{
        grid-area: card-referencia3;
        justify-self:center;
    }
    }
    @media (max-width: 600px) {
        .box-referencias {
            grid-template-areas: 
            "card-referencia1"
            "card-referencia2"
            "card-referencia3";
        }
        }
.card-referencia1{
    padding: 10px;
    margin:5%;
    width: 300px;
    height: 400px;
    background-color: #F5EFE6;
    border-style: groove;
    margin-left: 1rem;
    border-radius: 20px;
}
.card-referencia2{
    padding: 10px;
    margin: 5%;
    width: 300px;
    height: 400px;
    background-color: #F5EFE6;
    border-style: groove;
    margin-left: 1rem;
    border-radius: 20px;
}
.card-referencia1 h2{
    font-family: 'Labrada', serif;
    font-size: 40;
    font-style: normal;
    text-align: center;
}
.card-referencia1 h3{
    font-family: 'Labrada', serif;
    font-size: 30;
    font-style:oblique;
    text-align: center;
}
.card-referencia1 p{
    font-family: 'Labrada', serif;
    font-size: 30;
    font-style: italic;
    text-align:justify; 
    padding-top: 20px;
}
.card-referencia1 img{
    display: block;
    width: 30px;
    border: 50px;
    margin: 0 auto;
    padding-top: 20px;
    
}
.card-referencia2 h2{
    font-family: 'Labrada', serif;
    font-size: 40;
    font-style: normal;
    text-align: center;
}
.card-referencia2 h3{
    font-family: 'Labrada', serif;
    font-size: 30;
    font-style:oblique;
    text-align: center;
}
.card-referencia2 p{
    font-family: 'Labrada', serif;
    font-size: 30;
    font-style: italic;
    text-align:justify; 
    padding-top: 20px;
}
.card-referencia2 img{
    display: block;
    width: 30px;
    border: 50px;
    margin: 0 auto;
    padding-top: 20px;
}
.card-referencia3{
    padding: 10px;
    margin: 5%;
    width: 300px;
    height: 400px;
    background-color: #F5EFE6;
    border-style: groove;
    margin-left: 1rem;
    border-radius: 20px;
}
.card-referencia3 h2{
    font-family: 'Labrada', serif;
    font-size: 40;
    font-style: normal;
    text-align: center;
    
}
.card-referencia3 h3{
    font-family: 'Labrada', serif;
    font-size: 30;
    font-style:oblique;
    text-align: center;
}
.card-referencia3 p{
    margin-top: auto;
    font-family: 'Labrada', serif;
    font-size: 30;
    font-style: italic;
    text-align:justify; 
    padding-top: 20px;
}
.card-referencia3 img{
    display: block;
    width: 30px;
    border: 50px;
    margin: 0 auto;
    padding-top: 20px;
}
.footer-home{
    background-color: #F5EFE6;
    width: 100%;
    display: flex;
    justify-content:space-around;
    border: 15px;
}

@media (max-width:800px){
    .footer-home{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #F5EFE6;
        font-size: 1rem;
        width: 100%;
        align-items: center;
    }
}
.piedepagina-home{
    display: flex;
    list-style: none;
    column-gap: 25px;
}
.pie-pagina-home p{
    font-family: 'Labrada', serif;
    font-size: 30;
    font-style: italic;
    text-align:justify; 
    padding-top: 30px;  
}
.logo-piepagina-home img{
    padding: 1rem;

}
.pie-pagina2-home p{
    font-family: 'Labrada', serif;
    font-size: 30;
    font-style: italic;
    text-align:justify;
    padding-top: 20px;   
}
.pie-pagina3-home p{
    font-family: 'Labrada', serif;
    font-size: 30;
    font-style: italic;
    text-align:justify; 
    padding-top: 28px;
}  
.navbar-nosotros{
    display: flex;
    list-style: none;
    column-gap: 25px;
}
.navbar-nosotros li a{
    text-decoration: none;
    font-size: 15px;
    color: black;
}
.contenedor-headernosotros{
    display: flex;
    align-items: center;
   flex-direction: row;
   justify-content: space-evenly;
   
}
.contenedor-nosotros{
    padding: 4rem;
    
}
.nosotros-elemsoft h1 {
    font-family: 'Labrada', serif;
    font-size: 50px;
    text-align:justify; 
    text-align:center;
}
.nosotros-elemsoft p{
    font-family: 'Labrada', serif;
    font-size: 30;
    font-style:italic;
    text-align:justify; 
}
.imagen-nosotros{
    height: 20 rem;
    width: 20 rem;
    border-radius: 2rem;
    padding-top:20px;
}
.porque-nosotros{
    display: flex;
    height: 200px;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
   align-items:center;
   padding-top: 30px;
}
.acordeon-nosotros{
    width: 100%;
}
footer{
    background-color: #F5EFE6;
    width: 100%;
    display: flex;
    justify-content:space-around;
    border: 15px;
}
.piedepagina{
    display: flex;
    list-style: none;
    column-gap: 25px;
}
.pie-pagina p{
    font-family: 'Labrada', serif;
    font-size: 30;
    font-style: italic;
    text-align:justify; 
    padding-top: 30px;  
}
.logo-piepagina img{
    padding: 1rem;

}
.pie-pagina2 p{
    font-family: 'Labrada', serif;
    font-size: 30;
    font-style: italic;
    text-align:justify;
    padding-top: 20px;   
}
.pie-pagina p{
    font-family: 'Labrada', serif;
    font-size: 30;
    font-style: italic;
    text-align:justify; 
}
.nosotros-elemsoft p{
    padding-top: 30px;
    text-align: center;
    font-family: 'Labrada', serif;
    font-size:20px;

}

.contenedor-headerproductos{
    display: flex;
    align-items: center;
   flex-direction: row;
   justify-content: space-evenly;
}
.navbar-productos{
    display: flex;
    list-style: none;
    column-gap: 25px;
}
.navbar-productos li a{
    text-decoration: none;
    font-size: 15px;
    color: black;
}
.banner-productos{
    width: 100%;
    height: 269px;
    background-image: url(../assets/img/banner-productos.png);
    background-position: center;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(7,1fr);
}
.banner-productos h1{
 grid-column: 5/2;
 grid-row: 2/7;
 align-self: center;
 font-size: 36px;

}
.botones-producto{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:1rem;
}
.bondades-producto{
    display: grid;
    justify-content: center;
}
.boton-elemsoft{
    background-color:#B4CDE6 ;
}
.titulo-productos h1{
    font-family: 'Labrada', serif;
    font-size:50px;
    font-style:normal;
    text-align:justify; 
    text-align: center;
}
.titulo-productos h2{
    font-family: 'Labrada', serif;
    font-size:40px;
    font-style:italic;
    text-align:justify; 
    text-align:center;

}
.funciones-sistema{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    padding-top: 15px;
    padding-bottom: 35px;
    justify-items: center;
    
}

footer{
    background-color: #F5EFE6;
    width: 100%;
    display: flex;
    justify-content:space-around;
    border: 15px;
}
.piedepagina{
    display: flex;
    list-style: none;
    column-gap: 25px;
}
.pie-pagina p{
    font-family: 'Labrada', serif;
    font-size: 30;
    font-style: italic;
    text-align:justify; 
    padding-top: 30px;  
}
.logo-piepagina img{
    padding: 1rem;

}
.pie-pagina2 p{
    font-family: 'Labrada', serif;
    font-size: 30;
    font-style: italic;
    text-align:justify;
    padding-top: 20px;   
}
.pie-pagina p{
    font-family: 'Labrada', serif;
    font-size: 30;
    font-style: italic;
    text-align:justify; 
}
.navbar-portfolio{
    display: flex;
    list-style: none;
    column-gap: 25px;
}
.navbar-portfolio li a{
    text-decoration: none;
    font-size: 15px;
    color: black;
}
.contenedor-headerportfolio{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    align-items: center;
   
}
.banner-portfolio{
    background-image: url(../assets/img/banner-portfolio.png);
    background-size: cover;
    
    height: 20rem;
    background-position: center;
}
.banner-portfolio img{
    width: 100%;
}
.contenedor-clientes{
    padding-top: 43px;
    padding-bottom: 50px;
}
.trabajamos-clientes{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 4rem;
    padding-top: 15px;
    justify-content: space-evenly; 
}
.titulo-portfolio h1{
    font-family: 'Labrada', serif;
    font-size:40px;
    font-style:normal;
    text-align:justify; 
    text-align: center;
}
.trabajamos-clientes img{
    max-height: 150px;
    padding: 2rem;
    display: flex;
    gap: 30px;
}

.titulo-portfolio2 h1{
    font-family: 'Labrada', serif;
    font-size:35px;
    font-style:normal;
    text-align:justify; 
    text-align: center;
    padding-top: 90px;
}
.contenido-principal h1{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    padding-top: 20px;

   
}
.card-cuerpo img{
    padding: 2rem;
    margin: 0 auto;
    display: block;
   

}
.card-cuerpo{
    width: 300px;
    height: 400px;
    padding: 5px;
    background-color: #F5EFE6;
    border-style: groove;
    margin-left: 1rem;
    border-radius: 20px;
   
}
.card-cuerpo p{
    font-family: 'Labrada', serif;
    font-size: 50;
    font-style: italic;
    text-align:center;
    
}
.card-cuerpo2 img{
    padding: 4rem;
    margin: 0 auto;
    display: block;
}
.card-cuerpo2{
    width: 300px;
    height: 400px;
    padding: 5px;
    background-color: #F5EFE6;
    border-style: groove;
    margin-left: 1rem;
    border-radius: 20px; 
    
}
.card-cuerpo2 p{
    font-family: 'Labrada', serif;
    font-size: 50;
    font-style: italic;
    text-align:center
}
.card-cuerpo3 img{
  padding: 4rem;
  margin: 0 auto;
display: block;

   
}
.card-cuerpo3{
    width: 300px;
    height: 400px;
    padding: 5px;
    background-color: #F5EFE6;
    border-style: groove;
    margin-left: 1rem;
    border-radius: 20px;  
     

}
.card-cuerpo3 p{
    font-family: 'Labrada', serif;
    font-size: 50;
    font-style: italic;
    text-align:center  
}
.contenedor-trabajos{
    background-color: #B4CDE6;
}

footer{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 15px;
    justify-content: space-evenly; 
    justify-self: center;
    align-self: center;
}
.logo-piepagina{
    justify-self: center;
}
.pie-pagina2{
    justify-self: center;   
}
.pie-pagina3{
    justify-self: center;
}
@media (max-width: 800px){
    .footer{
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "piedepagina logo-piepagina"
        "pie-pagina2 pie-pagina3"
         ;
        }
     .pie-pagina p{
            font-family: 'Labrada', serif;
            font-size: 25;
            font-style: italic;
            text-align:justify; 
            padding-top: 25px;  
        } 
        }
    .pie-pagina2 p{
            font-family: 'Labrada', serif;
            font-size: 25;
            font-style: italic;
            text-align:justify;
            padding-top: 25px;   
        }  
    .pie-pagina3 p{
            font-family: 'Labrada', serif;
            font-size: 25;
            font-style: italic;
            text-align:justify; 
        }
 @media (max-width: 600px){
    footer{
        grid-template-columns: 1fr;
        grid-template-areas:
        "pie-pagina" 
        "logo-piepagina"
        "pie-pagina2"
        
        ;
        }
    .pie-pagina p{
                    font-family: 'Labrada', serif;
                    font-size: 20;
                    font-style: italic;
                    text-align:justify; 
                    padding-top: 20px;  
                } 
                }
    .pie-pagina2 p{
                    font-family: 'Labrada', serif;
                    font-size: 20;
                    font-style: italic;
                    text-align:justify;
                    padding-top: 20px;   
                }  
    .pie-pagina3 p{
                    font-family: 'Labrada', serif;
                    font-size: 20;
                    font-style: italic;
                    text-align:justify; 
                }   

.piedepagina{
    display: flex;
    list-style: none;
    column-gap: 25px;
}
.pie-pagina p{
    font-family: 'Labrada', serif;
    font-size: 30;
    font-style: italic;
    text-align:center; 
    padding-top: 30px;  
}

.pie-pagina2 p{
    font-family: 'Labrada', serif;
    font-size: 30;
    font-style: italic;
    text-align:justify;
    padding-top: 20px;   
}
.pie-pagina3 p{
    font-family: 'Labrada', serif;
    font-size: 30;
    font-style: italic;
    text-align:justify; 
}
.contenedor-headercontacto{
   padding-bottom:10px;
   border-bottom: 1px solid #F5EFE6;
   display: grid;
   grid-template-columns: 1fr 1fr;
}


@media (max-width:800px){
.navbar-contacto{
    justify-self: center;
}

.logo-ES-grid{
    justify-self: center;
}
.contenedor-headercontacto{
 grid-template-columns: 1fr;
grid-template-rows: 1fr 1fr;
 }
}
.navbar-contacto{
   display: flex;
   justify-content: space-evenly;
   width: 100%;
   justify-self: center;
   align-self: center;  
   list-style: none;
   padding-top: 19px;
}
.logo-ES-grid{ 
    display: flex;
    justify-content:left;
    height: 55px;
}
.navbar-contacto li a{
    text-decoration: none;
    font-size: 15px;
    color: black;
}
.logo-contacto{
    width: 100%;
}
.logo-contacto img{
    width: 70%;
    margin:0 auto;
    display: block;
}
.card-contacto{
    padding: 6%;
    width: 600px;
    height: 600px;
    background-color: #F5EFE6;
    border-style: groove;
    margin-left: 40px;
    border-radius: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.texto-card legend{
    display: flex;
    font-family: 'Labrada', serif;
    margin: 20px;
    font-size: 30px;
    font-style:oblique;
    text-align: center;
    text-decoration:underline ;
    
}
.opciones{
    width: 100%;
    background-color: #ffffff;
    padding:10px;
    margin-bottom: 10px;
    border: 1px solid blanchedalmond;
}
.opciones-mensaje{
    width: 100%;
    background-color: #ffffff;
    padding:30px;
    margin-bottom: 10px;
    border: 1px solid blanchedalmond;
}
.boton-enviar { 
    background-color: #B4CDE6;
    text-align: center;
    font-size: 15px;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin: 10px auto;
    
}
.contenedor-main{
    padding-bottom:10px;
    border-bottom: 1px solid #F5EFE6;
    display: grid;
    grid-template-columns: 1fr 1fr;
 }
 @media (max-width: 700px){
    .contenedor-main{
        grid-template-columns: 1fr;
        grid-template-areas:
        "logo-contacto"
        "card-contacto"
         ;
        }
    .logo-contacto{
         grid-area: logo-contacto;
        justify-self: center;
        width: 50%;
        margin:0 auto;
        display: block;
        }
    .card-contacto{
        grid-area: card-contacto;
        justify-self:center;
        padding: 3%;
        width: 400px;
        height: 550px;
        background-color: #F5EFE6;
        border-style: groove;
        margin-left: 20px;
        border-radius: 20px;
        margin-top: 35px;
        margin-bottom: 20px;
        }
    .texto-card legend{
        display: flex;
        font-family: 'Labrada', serif;
        margin: 20px;
        font-size: 20px;
        font-style:oblique;
         text-align: center;
        text-decoration:underline ;  
        }    
    }
@media (max-width: 400px) {
        .contenedor-main {
            grid-template-areas: 
            "logo-contacto"
            "card-contacto" 
        }
        .logo-contacto{
           grid-area: logo-contacto;
           justify-self: center;
           width: 50%;
           margin:0 auto;
           display: block;
           }
       .card-contacto{
           grid-area: card-contacto;
           justify-self:center;
           padding: 2%;
           width: 300px;
           height: 504px;
           background-color: #F5EFE6;
           border-style: groove;
           margin-left: 0;
           border-radius: 15px;
           margin-top: 30px;
           margin-bottom: 15px;
           }
       .texto-card legend{
           display: flex;
           font-family: 'Labrada', serif;
           margin: 15px;
           font-size: 15px;
           font-style:oblique;
            text-align: center;
           text-decoration:underline ;  
           }    
       }    
          