@media (max-width: 1050px) {
    main{
        background-color:$background-tercero;
    .contenido-principal{
      h1{
        font-size: 25px;
      }
    }
    .box-ultimostrabajos {
    grid-template-areas:
    "card-cuerpo card-cuerpo2"
    "card-cuerpo3 card-cuerpo3"
    ;
    .card-cuerpo{
        grid-area: card-cuerpo;
        justify-self: center;
        
    }
    .card-cuerpo2 {
        grid-area: card-cuerpo2;
        justify-self: center;
       
    }
    .card-cuerpo3{
        grid-area: card-cuerpo3;
        justify-self: center;
        
    }
}
    }  
}
@media (max-width: 1050px){
        .section-referencias{
            background-color: #D9D9D9;
            .contenido-referencias{
                h1{
                    font-family:'Poppins', sans-serif;
                    font-size:xx-large;
                    font-weight:400;
                    text-align:center;
                    padding-top: 20px;  
                }
            }
            .box-referencias {
                grid-template-areas:
                "card-referencia1 card-referencia2"
                "card-referencia3 card-referencia3"
                ;
                .card-referencia1{
                    grid-area: card-referencia1;
                    justify-self: center;
                }
                .card-referencia2 {
                    grid-area: card-referencia2;
                    justify-self:center;
                }
                .card-referencia3{
                    grid-area: card-referencia3;
                    justify-self:center;
                }
            }    
                }
            }

