@mixin flex{
    display: flex;
    justify-content: right;
    width: 100%;
    justify-self: center;
    align-self: center;  
    list-style: none;
    padding-top: 19px;
}
@mixin grid ($width, $gTa, $gap, $Pt, $Pb, $justify){
    display: grid;
    width: $width;
    grid-template-areas: $gTa;
    gap: $gap;
    padding-top: $Pt;
    padding-bottom: $Pb;
    justify-content: $justify;
}

@mixin colum ($Ga, $justify){
    grid-area:$Ga;
    justify-self: $justify;
}
@mixin style ($Ff, $Fs, $Fst, $Ta, $Ta2){
    font-family: $Ff;
        font-size:$Fs;
        font-style:$Fst;
        text-align:$Ta; 
        text-align: $Ta2; 
}